// ==============================================
// Color
// ==============================================

$base: #f2f2f0;
$main1: #f2c185;
$main2: #555555;

$accent1: #f2913d;
$accent2: #d9601a;
$accent3: #59829A;

$shadow: 0px 3px 6px rgba($main2, .3);
$hover-shadow: -10px 10px 2px rgba($base, .5);


// SNSアイコンカラー
$twitter: #1DA1F2;
$facebook: #3B5998;
$instagram: #000;

// ==============================================
// Font-family
// ==============================================

$ryo: ryo-gothic-plusn, sans-serif;

// ==============================================
// Font-Weight
// ==============================================

$EL: 200; // エクストラライト
$L: 300; // ライト
$R: 400; // レギュラー
$M: 500; // ミディアム
$B: 700; // ボールド
$H: 800; // ヘビー
$UH: 900; // ウルトラヘビー
