@charset "UTF-8";

.temp {
  font-size: 20px;
  .a {
    font-weight: $EL;
  }
  .b {
    font-weight: $L;
  }
  .c {
    font-weight: $R;
  }
  .d {
    font-weight: $M;
  }
  .e {
    font-weight: $B;
  }
  .f {
    font-weight: $H;
  }
  .g {
    font-weight: $UH;
  }
}

.header {
  position: relative;
  z-index: 99;
}

.header__wrapperTop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq1 {
    height: 110px;
  }

  // ==============================================
  // ヘッダーロゴ
  // ==============================================

  .header__logo {
    &-word {
      font-weight: $UH;
      font-size: 25px;
      color: $base;
      text-shadow: $shadow;
      transition: 0.3s ease;

      &:hover {
        text-shadow: $hover-shadow;
      }

      @include mq1 {
        font-size: 30px;
      }
    }
  }

  // ==============================================
  // ヘッダーロゴのカーニング調整
  // ==============================================

  .word {
    &_1 {
      letter-spacing: -0.15em;
      @include mq1 {
        letter-spacing: -0.015em;
      }
    }
    &_2 {
      letter-spacing: -0.15em;
      @include mq1 {
        letter-spacing: -0.02em;
      }
    }
    &_3 {
      letter-spacing: -0.1em;
      @include mq1 {
        letter-spacing: 0.05em;
      }
    }
    &_4 {
      letter-spacing: -0.05em;
      @include mq1 {
        letter-spacing: 0.05em;
      }
    }
    &_5 {
      letter-spacing: -0.05em;
      @include mq1 {
        letter-spacing: 0.05em;
      }
    }
    // &_6 {
    // letter-spacing: -0.015em;
    // }
  }

  // ==============================================
  // ハンバーガーメニュー
  // ==============================================
  .btn_humberger {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    border: 1px solid $base;
    transition: 0.2s ease;
    position: relative;
    @include mq1 {
      width: 70px;
      height: 70px;
    }

    > span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 1px;
      background-color: $base;
      box-shadow: $shadow;
      transition: 0.2s ease;
    }

    // 一番目の棒
    > span:nth-of-type(2) {
      top: 40%;
    }

    // 二番目の棒
    > span:nth-of-type(1) {
      top: 50%;
    }

    // 三番目の棒
    > span:nth-of-type(3) {
      top: 60%;
    }
  }
}

.header__wrapperBottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 20px;
}

.header__sns {
  display: flex;
  justify-content: flex-end;

  &-btn:not(:first-child) {
    margin-left: 1em;
  }

  .fab {
    transition: 0.2s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  // ==============================================
  // ツイッター
  // ==============================================
  .fa-twitter {
    color: $twitter;
  }

  // ==============================================
  // フェイスブック
  // ==============================================
  .fa-facebook {
    color: $facebook;
  }

  // ==============================================
  // インスタグラム
  // ==============================================
  .fa-instagram {
    color: $instagram;
  }
}
