@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  // font-weight: normal;
}

img {
  vertical-align: top;
}

// ==============================================
// ボタン要素
// ==============================================
button {
  background-color: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

// ==============================================
// ルビ要素の字間調整を可能にする。
// ==============================================
rt {
  text-align: inherit;
}